.input {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  &__field {
    padding: 10px;
    border: 0;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  }
  &__button {
    border: 0;
    border-bottom: 1px solid #eee;
    padding: 10px;
    cursor: pointer;
  }
}
